@use "../utils/mixin" as mx;

/* property */
@property --textAngle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

/* keyframes */
@keyframes textGradient {
  0% {
    --textAngle: 0deg;
  }
  100% {
    --textAngle: 360deg;
  }
}

@keyframes rolling {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-1980px);
  }
}

@include mx.md("md") {
  @keyframes rolling {
    from {
      transform: translate(0);
    }
    to {
      transform: translate(-1440px);
    }
  }
}

/* home */
.home {
  @apply bg-white text-gray-800;
}

/* home-hero */
.home-hero {
  @apply overflow-hidden;
  @apply h-[100vh] min-h-[700px] max-h-[920px];

  &-wrap {
    @include mx.container;
    @apply relative h-full flex;
  }

  &-con {
    @apply relative z-[3];
    @apply flex flex-col justify-center;

    &__title {
      @apply text-7xl leading-[1.3] font-bold;
      @apply drop-shadow-[2px_2px_0_rgba(255,255,255,0.7)];

      b {
        @apply text-8xl;
        text-shadow: none;
        color: transparent;
        background: linear-gradient(
          var(--textAngle),
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
        background-clip: text;
        animation: textGradient 4s linear infinite;
      }
    }

    &__sub {
      @apply my-md;
      @apply text-xl leading-[1.4];
    }
  }

  &-imgbox {
    @apply w-full h-full;
    @apply absolute top-0 left-0;
    @apply flex items-center justify-end;
  }

  &-blob {
    @apply absolute;
    @apply w-[600px] h-[600px];

    .tk-blob {
      --time: 15s;
      --amount: 3;
    }
  }

  &-blur {
    @apply absolute right-10 z-[2];
    @apply block w-[500px] h-[500px] rounded-full;
    @apply bg-white/30 backdrop-blur-lg shadow-[inset_0_0_16px_#ceedec];
    -webkit-backdrop-filter: blur(16px);
    will-change: backdrop-filter;
  }

  // pc
  @include mx.md("lg") {
    &-blob {
      @apply w-[450px] h-[450px];
    }

    &-blur {
      @apply w-[400px] h-[400px];
    }
  }

  // tablet
  @include mx.md("md") {
    @apply min-h-0 max-h-none h-auto pb-lg;

    &-con {
      @apply w-full pt-[450px];

      &__title {
        @apply text-5xl;

        b {
          @apply text-7xl;
        }
      }

      &__sub {
        @apply text-lg break-keep;

        br {
          @apply hidden;
        }
      }
    }

    &-imgbox {
      @apply justify-center;
    }

    &-blur,
    &-blob {
      @apply w-[280px] h-[280px];
      @apply top-[100px] right-0;
    }

    &-blur {
      @apply top-[120px] right-[20px];
    }
  }

  // mobile
  @include mx.md("sm") {
    &-con {
      @apply pt-[400px];

      &__title {
        @apply text-3xl;

        b {
          @apply text-5xl;
        }
      }

      &__sub {
        @apply mt-sm text-sm;
      }
    }

    &-blur,
    &-blob {
      @apply w-[230px] h-[230px];
    }
  }

  // mobile xs
  @include mx.md("xs") {
    &-con {
      &__title {
        @apply text-2xl;

        b {
          @apply text-4xl;
        }
      }

      &__sub {
        @apply text-xs;
      }
    }
  }
}

/* Skills */
.home-skills {
  @apply h-[220px];

  &-wrap {
    @include mx.container;
    @apply h-full;
    @apply relative overflow-hidden;
  }

  &-con {
    @apply w-full h-full;
    @apply flex overflow-hidden;
  }

  &-box {
    @apply gap-md px-lg;
    @apply flex items-center flex-nowrap;
    animation: rolling 30s linear infinite;
  }

  &-logo {
    @apply flex-none;
    @apply w-[200px] h-[100px] p-md;

    img {
      @apply w-auto h-full;
      @apply object-contain object-center;
    }
  }

  // tablet
  @include mx.md("md") {
    &-wrap {
      @apply px-0;
    }

    &-logo {
      @apply w-[140px] h-[100px];
    }
  }

  // mobile
  @include mx.md("sm") {
    @apply h-[180px];

    &-logo {
      img {
        @apply w-3/4 h-3/4;
      }
    }
  }
}

/* About */
.home-about {
  @include mx.container;
  @apply py-con;

  &-con {
    @apply relative opacity-0;
    @apply gap-lg mx-auto;
    @apply flex justify-between items-start;
  }

  &-title {
    @apply text-6xl;
  }

  &-left {
    @apply z-10;
    @apply sticky top-[40px];
    @apply gap-md w-[400px];
    @apply break-keep text-lg;
    @apply flex-none flex flex-col;

    p {
      text-shadow: 1px 2px #fff;
    }
  }

  &-right {
    @apply relative;
    @apply flex flex-col flex-1;
    @apply max-w-[900px] mt-moCon gap-lg;

    &::before,
    &::after {
      content: "";
      @apply w-0 h-0;
      @apply absolute;
      @apply opacity-0;
      @apply inline-block;
      @apply rounded-full;
      @apply transition duration-700;
    }

    &::before {
      @apply p-[20%];
      @apply bg-main;
      @apply -bottom-5 -left-60;
    }

    &::after {
      @apply p-[15%];
      @apply bg-sub;
      @apply -top-5 -right-20;
    }

    &-box {
      @apply z-10;
      @apply sticky top-[40px];
      @apply flex items-start;
      @apply gap-md p-lg transition-all;
      @apply bg-white/60 border-2 border-solid border-contentLine rounded-lg;
      @apply backdrop-blur-lg;
      -webkit-backdrop-filter: blur(16px);
      will-change: backdrop-filter;
    }

    &__num {
      @apply mr-lg mt-[-1px];
    }

    &__title,
    &__num {
      @apply text-xl font-semibold flex-none;
    }

    &__list {
      @apply flex flex-col flex-1 gap-xs;
    }

    &__item {
      @apply text-gray-600 py-1;
      @apply flex justify-between;
      @apply border-b border-solid border-gray-200;

      &:last-of-type {
        @apply border-0;
      }
    }
  }

  &-con.active {
    .home-about-right {
      &::before,
      &::after {
        @apply opacity-100;
        @apply delay-500;
      }
    }
  }

  // pc
  @include mx.md("2xl") {
    &-right {
      &::before {
        @apply -left-2;
      }
      &::after {
        @apply -right-2;
      }
    }
  }

  @include mx.md("xl") {
    &-con {
      @apply flex-col;
    }

    &-title {
      @apply mb-lg;
    }

    &-left {
      @apply static text-center;
      @apply w-full max-w-[500px] mx-auto;
    }

    &-right {
      @apply max-w-full w-full;
    }
  }

  // tablet
  @include mx.md("md") {
    @apply py-moCon;

    &-con {
      @apply gap-md;
    }

    &-title {
      @apply text-5xl;
    }

    &-left {
      @apply text-base;
      @apply max-w-[420px] gap-sm;
    }

    &-right {
      @apply mt-lg gap-md;

      &-box {
        @apply p-md top-[20px];
      }

      &__title {
        @apply text-lg;
      }

      &__num {
        @apply hidden;
      }

      &__item {
        @apply text-sm;
      }
    }
  }

  // mobile
  @include mx.md("sm") {
    @apply pt-lg pb-moCon;

    &-title {
      @apply text-4xl mb-md;
    }

    &-left {
      @apply max-w-full text-sm;
    }

    &-right {
      @apply text-center;

      &__title {
        @apply text-base;
      }

      &__item {
        @apply flex-col-reverse;
      }
    }
  }

  // mobile xs
  @include mx.md("xs") {
    &-left {
      @apply text-xs;
    }

    &-right {
      &-box {
        @apply px-sm;
      }

      &__title {
        @apply text-sm;
      }

      &__item {
        @apply text-xs;
      }
    }
  }
}

/* work */
.home-work {
  @apply bg-dark;
  @apply w-full h-auto;
  @apply overflow-hidden;

  &-scroller-dummy {
    @include mx.container;
  }

  &-scroller {
    @apply flex;
    @apply w-full h-svh;
  }

  &-con {
    @apply w-full h-full;
  }

  &-wrap {
    @apply flex;
    @apply w-fit min-w-full h-full;
  }

  &-hero {
    @apply flex flex-col;
    @apply w-[430px] pt-con mr-con;

    &__title {
      @apply text-6xl text-white mb-md;
    }

    &__sub {
      @apply text-xl text-gray-300 break-keep;
    }
  }

  &-list {
    @apply flex items-center;
    @apply h-full p-con pr-0 gap-lg;

    &::after {
      content: "";
      @apply inline-block;
      @apply w-[40px] h-full;
    }
  }

  &-item {
    @apply w-[50vw] h-full;

    &__link {
      @apply flex flex-col justify-end;
      @apply relative w-full h-full p-lg;

      img {
        @apply left-[1px] top-[1px] object-cover #{!important};
        @apply w-[calc(100%-2px)] h-[calc(100%-2px)] rounded-2xl #{!important};
      }

      &::after,
      &::before {
        content: "";
        @apply absolute top-0 left-0;
        @apply inline-block w-full h-full;
      }

      &::after {
        @apply bg-gradient-to-t from-dark;
      }

      &::before {
        @apply transition-all rounded-2xl z-[2];
        @apply border-2 border-solid border-dark;
      }

      &:hover {
        &::before {
          @apply border-main;
        }
      }
    }

    &__title,
    &__sub,
    &__box {
      @apply relative z-[2];
    }

    &__title {
      @apply pb-sm;
      @apply text-4xl font-bold text-white;
      @apply border-b border-solid border-gray-300;
    }

    &__sub {
      @apply h-[48px] mt-xs;
      @apply text-xl text-gray-200;
    }

    &__box {
      @apply flex;
      @apply mt-md gap-sm;

      span {
        @apply py-xs px-sm;
        @apply leading-[1] text-gray-300;
        @apply border border-solid rounded-full;
      }
    }
  }

  // pc
  @include mx.md("lg") {
    &-hero {
      @apply w-[320px] mr-moCon;
    }

    &-list {
      &::after {
        content: "";
        @apply w-[10vw];
      }
    }
  }

  // tablet
  @include mx.md("md") {
    &-hero {
      @apply w-[200px] mr-lg;

      &__title {
        @apply text-5xl;
      }

      &__sub {
        @apply text-base;
      }
    }

    &-list {
      @apply pl-lg;
    }

    &-item {
      @apply w-[calc(100vw-20px)];

      &__title {
        @apply text-3xl;
      }

      &__sub {
        @apply text-lg;
      }
    }
  }

  // mobile
  @include mx.md("sm") {
    &-hero {
      @apply mr-md;

      &__title {
        @apply text-4xl;
      }

      &__sub {
        @apply text-sm;
      }
    }

    &-list {
      @apply pl-md;
    }

    &-item {
      &__link {
        @apply p-md;
      }

      &__title {
        @apply text-2xl;
      }

      &__sub,
      &__box {
        @apply text-sm;
      }
    }
  }

  // mobile xs
  @include mx.md("xs") {
    &-hero {
      @apply mr-sm;

      &__title {
        @apply text-4xl;
      }

      &__sub {
        @apply text-xs;
      }
    }

    &-list {
      @apply pl-sm;
    }

    &-item {
      &__title {
        @apply text-xl;
      }

      &__sub,
      &__box {
        @apply text-xs;
      }
    }
  }
}

.home-work-scroller.iphone {
  @apply h-auto;

  .home-work-wrap,
  .home-work-list {
    @apply flex-col;
  }

  .home-work-hero {
    @apply w-full ml-0;
    @apply text-center;
  }

  .home-work-list {
    @apply pl-0 pt-14;
  }

  .home-work-item {
    @apply w-full h-[50dvh];
  }
}

/* contact */
.home-contact {
  @apply py-con;
  @apply relative;

  &-title {
    @apply relative z-[2];
    @apply text-6xl text-center;
  }

  &-wave {
    @apply w-full h-2/3;
    @apply absolute -bottom-[140px] left-0;
    @apply bg-[url("/images/wave.svg")] bg-cover bg-no-repeat;
  }

  &-con {
    @apply flex;
    @apply relative z-[2];
    @apply bg-white/50 backdrop-blur overflow-hidden;
    @apply max-w-xl mt-moCon mx-auto w-[calc(100%-40px)];
    @apply border-2 border-solid border-contentLine rounded-xl;
  }

  &-form {
    @apply flex flex-col flex-1;
    @apply p-lg gap-4 overflow-hidden;

    input,
    textarea {
      @apply bg-white rounded;
      @apply w-full min-h-[42px] mt-2 p-sm;
      @apply border border-solid border-borderLine;

      &:focus {
        @apply outline-main;
      }
    }

    textarea {
      @apply h-[120px] resize-none;
    }

    button {
      @apply bg-dark;
      @apply text-white;
      @apply p-sm transition-all;
      @apply border border-solid rounded;

      &:hover {
        @apply bg-main;
      }
    }
  }

  // tablet
  @include mx.md("md") {
    @apply py-moCon;

    &-title {
      @apply text-5xl;
    }

    &-con {
      @apply mt-lg;
    }

    &-form {
      @apply px-md;
    }
  }

  // mobile
  @include mx.md("sm") {
    &-title {
      @apply text-4xl;
    }

    &-form {
      @apply text-sm;
    }
  }

  // mobile xs
  @include mx.md("xs") {
    &-form {
      @apply px-sm;
    }
  }
}
