@import "./variables/_variables.scss";

.home {
  @apply bg-white text-gray-800;
}

/* Hero */
@property --textAngle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes textGradient {
  0% {
    --textAngle: 0deg;
  }

  100% {
    --textAngle: 360deg;
  }
}

.home-hero {
  @apply overflow-hidden;
  @apply h-[100vh] min-h-[700px] max-h-[920px];

  &-wrap {
    @include container;
    @apply relative h-full flex;
  }

  &-con {
    @apply relative z-[3];
    @apply flex flex-col justify-center;

    &__title {
      @apply text-7xl leading-[1.3] font-bold;
      @apply drop-shadow-[2px_2px_0_rgba(255,255,255,0.7)];

      b {
        @apply text-8xl;
        text-shadow: none;
        color: transparent;
        background: linear-gradient(
          var(--textAngle),
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
        background-clip: text;
        animation: textGradient 4s linear infinite;
      }
    }

    &__sub {
      @apply my-md text-xl leading-[1.4];
    }
  }

  &-imgbox {
    @apply w-full h-full;
    @apply absolute top-0 left-0;
    @apply flex items-center justify-end;
  }

  &-blob {
    @apply absolute w-[600px] h-[600px];
    .tk-blob {
      --time: 15s;
      --amount: 3;
    }
  }

  &-blur {
    @apply absolute right-10 z-[2];
    @apply block w-[500px] h-[500px] rounded-full;
    @apply bg-white/30 backdrop-blur-lg shadow-[inset_0_0_16px_#ceedec];
  }

  // media xl
  @include md("md") {
    @apply min-h-0 max-h-[calc(100vh-52px)] h-[720px] pb-lg;
    &-con {
      @apply w-full justify-end items-start;
      &__title {
        @apply text-[10.5vw];
        b {
          @apply text-[14.5vw];
        }
      }

      &__sub {
        @apply text-lg break-keep;
        br {
          @apply hidden;
        }
      }
    }
    &-imgbox {
      @apply justify-center;
    }
    &-blur,
    &-blob {
      @apply w-[50vw] h-[50vw] top-[120px] right-[20px];
    }
    &-blur {
      @apply top-[150px] right-[40px];
    }
  }

  @include md("sm") {
    &-con {
      &__sub {
        @apply text-sm;
      }
    }
  }
}

/* Skills */
@keyframes rolling {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-1980px);
  }
}

.home-skills {
  @apply h-[220px];
  &-wrap {
    @include container;
    @apply relative h-full overflow-hidden;
  }

  &-con {
    @apply w-full h-full;
    @apply flex overflow-hidden;
  }

  &-box {
    @apply gap-md px-lg;
    @apply flex items-center flex-nowrap;
    animation: rolling 30s linear infinite;
  }

  &-logo {
    @apply flex-none;
    @apply w-[200px] h-[100px] p-md;
    img {
      @apply w-full h-full;
      @apply object-contain object-center;
    }
  }
}

/* About */
.home-about {
  @include container;
  @apply py-con;

  &-con {
    @apply relative opacity-0;
    @apply gap-lg mx-auto;
    @apply flex justify-between items-start;
  }

  &-title {
    @apply text-6xl;
  }

  &-left {
    @apply sticky top-[40px];
    @apply gap-md w-[400px];
    @apply break-keep text-lg;
    @apply flex-none flex flex-col;
  }

  &-right {
    @apply flex flex-col flex-1;
    @apply max-w-[900px] mt-moCon gap-lg;

    &-box {
      @apply sticky top-[40px];
      @apply flex items-start;
      @apply gap-md p-lg rounded-lg transition-all;
      @apply bg-content border border-solid border-contentLine;
    }

    &__num {
      @apply mr-lg mt-[-1px];
    }

    &__title,
    &__num {
      @apply text-xl font-semibold flex-none;
    }

    &__list {
      @apply flex flex-col flex-1 gap-xs;
    }

    &__item {
      @apply flex justify-between py-1;
      @apply text-gray-600 border-b border-solid border-gray-200;

      &:last-of-type {
        @apply border-0;
      }
    }
  }

  // media xl
  @include md("xl") {
    &-con {
      @apply flex-col;
    }

    &-left {
      @apply static text-center;
      @apply w-full max-w-[500px] mx-auto;
    }

    &-right {
      @apply max-w-full w-full;

      &-box {
        @apply static;
      }
    }
  }
}

/* work */
.home-work {
  @apply w-full h-auto overflow-hidden bg-dark;

  &-scroller-dummy {
    @include container;
  }

  &-scroller {
    @apply flex w-full h-svh;
  }

  &-con {
    @apply w-full h-full;
  }
  &-wrap {
    @apply w-fit min-w-full h-full flex;
  }

  &-hero {
    @apply flex flex-col;
    @apply w-[430px] pt-con mr-con;

    &__title {
      @apply text-6xl text-white mb-md;
    }

    &__sub {
      @apply text-xl text-gray-300 break-keep;
    }
  }

  &-list {
    @apply flex items-center;
    @apply h-full p-con pr-0 gap-lg;
  }

  &-item {
    @apply w-[90vw] max-w-[100vh] h-full;

    &__link {
      @apply flex flex-col justify-end;
      @apply relative w-full h-full p-lg;

      img {
        @apply left-[1px] top-[1px] object-cover #{!important};
        @apply w-[calc(100%-2px)] h-[calc(100%-2px)] rounded-2xl #{!important};
      }

      &::after,
      &::before {
        content: "";
        @apply absolute top-0 left-0;
        @apply inline-block w-full h-full;
      }

      &::after {
        @apply bg-gradient-to-t from-dark;
      }

      &::before {
        @apply transition-all rounded-2xl z-[2];
        @apply border-2 border-solid border-dark;
      }

      &:hover {
        &::before {
          @apply border-main;
        }
      }
    }

    &__title,
    &__sub,
    &__box {
      @apply relative z-[2];
    }

    &__title {
      @apply text-4xl font-bold text-white;
      @apply border-b border-solid border-gray-300 pb-sm;
    }

    &__sub {
      @apply h-[48px] mt-xs;
      @apply text-xl text-gray-200;
    }

    &__box {
      @apply flex mt-md gap-sm;

      span {
        @apply py-xs px-sm;
        @apply leading-[1] text-gray-300;
        @apply border border-solid rounded-full;
      }
    }
  }
}

/* contact */
.home-contact {
  @apply relative py-con overflow-hidden;

  &-title {
    @apply relative z-[2];
    @apply text-6xl text-center;
  }
  &-con {
    @apply relative z-[2];
    @apply flex max-w-xl mt-moCon mx-auto;
    @apply bg-content rounded-xl overflow-hidden;
    @apply border border-solid border-contentLine;
  }

  &-form {
    @apply flex flex-col flex-1;
    @apply p-lg gap-4 overflow-hidden;

    input,
    textarea {
      @apply bg-white rounded;
      @apply w-full min-h-[42px] mt-2 p-sm;
      @apply border border-solid border-contentLine;

      &:focus {
        @apply outline-main;
      }
    }

    textarea {
      @apply h-[120px] resize-none;
    }

    button {
      @apply border border-solid;
      @apply bg-dark text-white p-sm rounded transition-all;

      &:hover {
        @apply bg-main;
      }
    }
  }
}
