@import "./variables/_variables.scss";

.home {
  @apply bg-white text-gray-800;
}

/* Hero */
@property --textAngle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes textGradient {
  0% {
    --textAngle: 0deg;
  }
  100% {
    --textAngle: 360deg;
  }
}

.home-hero {
  @apply relative h-[100vh] min-h-[700px] max-h-[920px] overflow-hidden;

  &-wrap {
    @include container;
    @apply relative h-full flex;
  }

  &-con {
    @apply relative z-[3] flex flex-col justify-center;
    &__title {
      @apply text-8xl relative;
      text-shadow: 0 2px #fff;
      b {
        text-shadow: none;
        color: transparent;
        background: linear-gradient(
          var(--textAngle),
          rgba(34, 193, 195, 1) 0%,
          rgba(144, 190, 120, 1) 25%,
          rgba(183, 189, 93, 1) 50%,
          rgba(213, 188, 73, 1) 75%,
          rgba(253, 187, 45, 1) 100%
        );
        background-clip: text;
        animation: textGradient 2s linear infinite;
      }
    }

    &__sub {
      @apply my-lg text-2xl text-gray-500 leading-[1.2];
      text-shadow: 0 2px #fff;
    }
  }

  &-imgbox {
    @apply absolute top-0 left-0 w-full h-full;
    &-canvas {
      @apply absolute right-0 top-[50%] translate-y-[-50%] w-full min-w-[600px] max-w-[750px] h-full z-[2];
    }
  }
}

/* Skills */
@keyframes rolling {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-1980px);
  }
}

.home-skills {
  @apply h-[220px] bg-gray-50;
  &-wrap {
    @include container;
    @apply relative h-full overflow-hidden;
  }

  &-con {
    @apply w-full h-full flex overflow-hidden;
  }

  &-box {
    @apply flex items-center flex-nowrap gap-md px-lg;
    animation: rolling 30s linear infinite;
  }

  &-logo {
    @apply flex-none w-[200px] h-[100px] p-md;
    img {
      @apply w-full h-full object-contain object-center;
    }
  }
}

/* About */
.home-about {
  @include container;
  @apply py-con;
  &-con {
    @apply relative gap-lg  mx-auto flex justify-between items-start;
  }

  &-title {
    @apply text-6xl mb-md;
  }

  &-left {
    @apply flex-none w-[500px] sticky top-[40px] break-keep text-xl;
  }

  &-right {
    @apply flex flex-col flex-1 max-w-[900px] mt-moCon gap-lg;
    &-box {
      @apply sticky flex gap-md top-[40px] rounded-lg p-lg bg-white border border-solid border-gray-200;
      &:nth-of-type(2) {
        @apply top-[60px];
      }
      &:nth-of-type(3) {
        @apply top-[80px];
      }
    }
    &__num {
      @apply w-[80px];
    }
    &__title,
    &__num {
      @apply text-xl font-semibold flex-none;
    }

    &__list {
      @apply flex flex-col gap-xs flex-1;
    }
    &__item {
      @apply flex justify-between py-1 text-gray-600 border-b border-solid border-gray-200;
      &:last-of-type {
        @apply border-0;
      }
    }
  }
}

/* work */
.home-work {
  @apply w-full h-auto overflow-hidden bg-dark;

  &-scroller-dummy {
    @include container;
  }

  &-scroller {
    @apply flex w-full h-svh;
  }

  &-con {
    @apply w-full h-full;
  }
  &-wrap {
    @apply w-fit min-w-full h-full flex;
  }

  &-hero {
    @apply flex flex-col pt-con w-[430px] mr-con;
    &__title {
      @apply text-6xl mb-md text-white;
    }
    &__sub {
      @apply break-keep text-xl text-gray-300;
    }
  }

  &-list {
    @apply flex items-center gap-lg h-full p-con pr-0;
  }

  &-item {
    @apply w-[90vw] max-w-[100vh] h-full;
    &__link {
      @apply flex flex-col justify-end bg-center bg-cover bg-no-repeat w-full h-full bg-slate-600 rounded-lg p-lg;
    }
    &__title {
      @apply text-4xl font-bold border-b border-solid pb-sm border-gray-300 text-white;
    }
    &__sub {
      @apply mt-xs text-xl text-gray-200;
    }
    &__box {
      @apply flex mt-md gap-sm;
      span {
        @apply border border-solid py-xs px-sm text-gray-300 rounded-full;
      }
    }
  }
}

/* contact */
.home-contact {
  @include container;
  @apply py-con;
  &-title {
    @apply text-6xl text-center;
  }
  &-con {
    @apply my-moCon;
  }
}
