@use "sass:string";
@use "./mixin" as mx;

:root {
  --rolling: -1980px;
}

@include mx.md("md") {
  :root {
    --rolling: -1440px;
  }
}

/* utils */
.fs-fr {
  font-family: var(--font-freesentation), "Pretendard Variable", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.f-title {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

/* body */
body {
  @apply overflow-hidden;
  font-family: var(--font-pretendard), sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.active {
    @apply overflow-visible overflow-x-hidden;
  }

  // Scroll 스타일 전체 적용
  &::-webkit-scrollbar {
    @apply w-4 h-4;

    &-track {
      @apply bg-gray-200;
    }

    &-thumb {
      @apply bg-main rounded;
    }
  }
}
