@use "sass:string";
@use "./mixin" as mx;

/* variables */
@font-face {
  font-family: "Pretendard Variable";
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-9Black";
  src: url("/fonts/Freesentation-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --rolling: -1980px;
}

@include mx.md("md") {
  :root {
    --rolling: -1440px;
  }
}

/* utils */
.fs-fr {
  font-family: "Freesentation-9Black", "Pretendard Variable", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.f-title {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

/* body */
body {
  @apply overflow-hidden;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-feature-settings: "cv01", "cv02", "cv03", "cv04";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.active {
    @apply overflow-visible overflow-x-hidden;
  }

  // Scroll 스타일 전체 적용
  &::-webkit-scrollbar {
    @apply w-4 h-4;

    &-track {
      @apply bg-gray-200;
    }

    &-thumb {
      @apply bg-main rounded;
    }
  }
}
