@use "sass:string";
@use "./mixin" as mx;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* variables */
:root {
  --rolling: -1980px;
}

@include mx.md("md") {
  :root {
    --rolling: -1440px;
  }
}

/* utils */
.fs-fr {
  font-family: "Freesentation-9Black";
}

.f-title {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

/* body */
body {
  font-family: "Pretendard Variable", sans-serif;
  @apply overflow-hidden;

  &.active {
    @apply overflow-visible overflow-x-hidden;
  }

  // Scroll 스타일 전체 적용
  &::-webkit-scrollbar {
    @apply w-4 h-4;

    &-track {
      @apply bg-gray-200;
    }

    &-thumb {
      @apply bg-main rounded;
    }
  }
}
